/* Mobile */
@media max-width: 375px;


/* Desktop */
@media min-width: 376px;




html{
  background-image: url('../images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
  font-family: Poppins;
  font-size: 16px;
}

body{
  display: grid;
}

#left{
  grid-column: 1 / 2;
  padding: 20%
}

#right{
  grid-column: 2 / 3;
  padding: 10%
}

#main-heading{
  color: white;
  
}

#main-heading-subtext{
  color: white;
  font-weight: 400;
  font-size: .7em;
  
}

#try-it{
  background-color: hsl(248, 32%, 49%);
  color: white;
  font-size: .8em;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 5px hsl(0, 30%, 54%);
  margin-bottom: 40px
}